.container {
    display: flex;
    justify-content: left;
    position: relative;
    max-width: 1000px;
    top: 60px
  }
  
  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  
  
  .contact-right {
    position: absolute;
    top: 180px;
    right: 210px;
    font-size: 28px;
    color: #990000;
    font-weight: bold;
    font-family: 'Courier New', Courier;
  }
  
  .bottom-right {
    position: absolute;
    top: 220px;
    right: 200px;
    color: #22AD1F;
    font-size: 24px;
  }
  
 


  /*User form to submit */
 /* style.css */

/* ... other styles ... */

.contact-form {
  width: 280px; /* Adjust the width as needed */
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px;
 /*  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
 */
}

.contact-form h2 {
  margin-top: 60px;
}

.contact-form label {
  display: block;
  margin-bottom: 1px;
}

.contact-form input,
.contact-form textarea {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
  
  box-sizing: border-box;
  border: 1px solid #ccc;
  /*border: 1px solid #ccc;
  border-radius: 5px;*/
}

.contact-form textarea {
  resize: vertical; /* Allow vertical resizing of the textarea */
}

.contact-form button {
  background-color: #007bff;
  color: #fff;
  padding: 2px 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ... question color url source: https://colorhunt.co/palettes/ */

.ques {
  position: absolute;
  bottom: 80px;
  left: 80px;
  color: #3EC70B;
}

/*.... question icon source: https://www.toptal.com/designers/htmlarrows/symbols/ */
.question-icon1 {
  position: absolute;
  display: inline-block;
  font-size: 80px; /* Adjust font size as needed */
  font-weight: bold;
  color: #D4D925; 
  left: 80px;
  bottom: 115px;
  transform: rotate(-30deg);
  /*margin-right: 5px; *//* Adjust spacing between icon and text */
  
}

.question-icon2 {
  position: absolute;
  display: inline-block;
  font-size: 80px; /* Adjust font size as needed */
  font-weight: bold;
  color: #FF5B00; 
  left: 160px;
  bottom: 135px;
  transform: rotate(0deg);
  /*margin-right: 5px; *//* Adjust spacing between icon and text */
  
}

.question-icon3 {
  position: absolute;
  display: inline-block;
  font-size: 80px; /* Adjust font size as needed */
  font-weight: bold;
  color: #990000; 
  left: 210px;
  bottom: 60px;
  transform: rotate(20deg);
  /*margin-right: 5px; *//* Adjust spacing between icon and text */
  
}

span {
  content: "\003F";
}