
<h1>This website is all about <strong><%= food %></strong>!</h1> 

<% if( food === "cookie") { %>
    <!-- <h2><strong><%= food %></strong></h2> -->
    <p>I want <strong>chocolate chip,</strong> please</p>
    <% } else { %>
     <p> I only eat <strong>salads!</strong></p>
    <% } %>

