
<%- include("partials/header") %>

<h1>Welcome to the Home Page!</h1>
<ul>
    <li>Home</li>
    <li>About</li>
    <li>Contact</li>
</ul>
<p>We sell the best <strong><%= pastry %></strong> in the city</p>

<%- include("partials/footer") %>