<div class="form-group">
    <label for="title">Title</label>
    <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
</div><br>

<div class="form-group">
    <label for="desscription">Description</label>
    <textarea name="description" id="description" class="form-control"><%= article.description %></textarea>
</div><br>

<div class="form-group">
    <label for="process">Process Steps</label>
    <textarea name="process" id="process" class="form-control"><%= article.process %></textarea>
</div><br>

<div class="form-group">
    <label for="image">Image (URL)</label>
    <input required value="<%= article.image %>" type="text" name="image" id="image" class="form-control">
</div><br>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>