/*add 404 ejs style for emoji*/

/* Center the container */
.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }
  
  /* Style for the sad emoji image */
  .sad-emoji {
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
    animation: bounce 1s infinite alternate;
  }

  p{
    color: red;
    font-size: 24px;
    font-family: cursive;
    font-weight: bold;
  }
  
  /* Animation keyframes */
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  