
body {
    background-color: orange;
    color: black
    font-family: Arial, sans-serif;
}
/*h1 {
    text-align: center;
}
#pastry {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}*/