<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, quae! Cupiditate maiores velit enim voluptatem voluptates consectetur, libero unde dolor atque at officia? Consequuntur ea rem natus laboriosam sed dolore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati eius minus praesentium aut quibusdam in inventore sint velit repudiandae laboriosam, dolore animi illo quia, est omnis deserunt at aliquid vero!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro itaque amet omnis veniam quidem, ipsam ad obcaecati accusantium, dolore vero error perferendis possimus nihil nisi tenetur dolor dignissimos illo debitis.</p>
    </div>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>