<%- include("partials/header") %>



<h2>This is the current price:<span id="displayPrice"></span></h2>
<form method="GET" action="/price">
    <button type="text" id="displayPrice"></button>
     <p id="error"></p>
   
</form>







<%- include("partials/footer") %>