<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, consequuntur! Quos, cum aliquam quibusdam
            consequuntur quidem aspernatur maiores natus aliquid suscipit. Dicta accusantium voluptatum quia animi,
            vitae rem maxime nesciunt!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis assumenda itaque quam dolore nostrum. At labore
            eius harum, quaerat sequi consequatur eos adipisci impedit ea dolores beatae sed explicabo ab.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum deserunt tempora consequuntur consectetur
            accusamus deleniti similique, officia error expedita, sed, natus earum totam explicabo voluptatibus? Unde
            est quos et mollitia!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>