
<%- include("partials/header") %>
<!--create a form in the new.ejs file-->
<h1>New Post</h1>
<form action="/posts" method="POST">
    <%- include("partials/form_inputs") %>
</form>


<%- include("partials/footer") %>