
<h1>This website is all about <%= data %>!</h1>

<% if(data === "coffee") {%>

    <p>You're getting coffee? Mind pouring me a cup? </p>

    <%} else {%> 

        <p>My mind is falling. I need caffeine!</p>
        
        <%}%>