/*body background color and uses other properties using elements and attribute.*/
body {
    background-color: hsl(66, 65%, 89%);
    color: rgb(107, 10, 235);
    font-weight:bold;
    font-size: 36px;
    margin-top: 30px;
    margin-left: 50px;
      
}
img {
    width: 250px;
    height: 250px;
    margin-left: 100px;
    border: 10px solid goldenrod;
    padding-bottom: 0px;
}

.container {
    text-align: center;
    color: green;
    font-weight: bold;
}

#sub {
    font-style: italic;
    
}

div {
    background-color: #e1f1db;
}

.container{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px;
}

table {
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 4px solid red;
    text-align: left;
    padding: 8px;
}

span {
    color: red;
    font-size: 50px;
    
}